@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    /* --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; */
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

body {
    position: relative;
    height: 100%;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Swiper */
/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}*/

.swiper-slide {
    border: none !important;
    outline: none !important;
}
.swiper-container .swiper-slide {
    border: none !important;
    outline: none !important;
}
.swiper-slide {
    box-shadow: none !important;
}

/* Establecer el color de fondo de los bullets inactivos en gris */
.swiper-pagination-bullet {
    background-color: #808080; /* Color gris */
    border: 2px solid #48BB78; /* Color emerald-500 para el borde */
}
   
/* Estilo para el bullet activo */
.swiper-pagination-bullet-active {
    background-color: #48BB78;
    border: 2px solid #48BB78;
    animation: fillAndEmpty 4s infinite;
}
   
/* Animación de llenado y vaciado para el bullet activo */
@keyframes fillAndEmpty {
    0% {
        background-color: transparent;
        border-color: #48BB78;
    }
    50% {
        background-color: #48BB78;
        border-color: #48BB78;
    }
    100% {
        background-color: transparent;
        border-color: #48BB78;
    }
}
   